.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $space-sm 0;

  &__item {
    display: flex;
    align-items: center;

    a {
      color: $medium-gray;
      font-size: 14px;
    }

    .fas {
      color: $medium-gray;
      font-size: 12px;
      margin: 0 8px;
    }

    &:last-child {
      font-weight: 400;

      .fas {
        display: none;
      }
    }

  }
}
