.ml-input {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: $input-height;
  color: $font-color;
  font-size: $font-size-base;
  font-family: inherit;
  line-height: 1.5;
  font-weight: inherit;
  background-color: #fff;
  background-image: none;
  border: $border-default;
  border-radius: $border-radius;
  transition: all .3s;

  &--sm {
    height: $input-height-sm;
  }

  &--md {
    height: $input-height-md;
    font-size: 18px;
  }

  &--lg {
    height: $input-height-lg;
  }

  &:focus, &:hover, &:active, &:visited {
    outline: 0;
  }

  &::-webkit-input-placeholder { /* Edge */
    color: $medium-gray;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $medium-gray;
  }

  &::placeholder {
    color: $medium-gray;
  }
}
