html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  background-color: $bg-color;
  font-size: $font-size-base;
  color: $font-color;
}

.container{
  max-width: 1140px;
}
