// COLORS

$yellow: #ffe600;
$black: #333333;
$dark-gray: #666666;
$medium-gray: #999999;
$light-gray: #eeeeee;
$blue: #3483fa;

// COLOR SCHEMA

$brand-color: $yellow;
$primary-color: $blue;
$bg-color: $light-gray;

// SPACING SCHEMA

$space-sm: 16px;
$space-md: 32px;

// TEXT
$font-size-base: 14px;
$font-color: $black;
